* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #23325a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*adding styling to header elements*/
header {
  background-color: #23325a;
  color: #fff;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/*adding styling to ID image*/
.pic img {
  top: 8px;
  position: relative;
  left: 375px;
  height: 8%;
  width: 12%;
  display: block;
  margin: auto;
}

/*adding styling to hero-banner elements*/
.hero-banner {
  background: url("../images/Banner.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-banner div h2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 19px;
  color: rgb(124, 9, 124);
}

/*adding styling for page sections*/
.page-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #c1c8db;
  border-radius: 5px; /*to curve edges of section boxes*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*adding grid pattern with relevant references to project IDs*/
.projects-grid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: 
  'project1 project1'
  'project2 project3'
  'project4 project5';
}

#project1 {
  grid-area: project1;
}

#project2 {
  grid-area: project2;
}

#project3 {
  grid-area: project3;
}

#project4 {
  grid-area: project4;
}

#project5 {
  grid-area: project5;
}

/*positioning and styling Work examples*/
.projectarea {
  position: relative;
  margin: 10px;
  border: 5px solid darkblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.projectarea img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

/* Using :hover selector to style projectarea element*/
.projectarea:hover {
  box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 1);
  border: 5px solid rgb(74, 65, 132);
  transition: all 0.5s ease-in-out;
}

/*styling contact section, using Flexbox to position elements*/
.contactlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
}

/*adding text-decoration to style links within a elements*/
a {
  text-decoration: none;
}

/*adding styling to h3 elements so as to display project titles*/
h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #d6f6f7; 
  padding: 5px; 
  border: 1.5px solid #000;
  color: rgb(8, 5, 5);
}

